.services__buttons__container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 90%;
  margin: 7rem 7rem 0;
}

.services__button {
  display: flex;
  align-items: center;
  color: var(--primary-green);
  border: 1px solid var(--header-border-color);
  background-color: var(--hover-button-color);
  padding: 1.5rem 2.5rem;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.services__button:hover {
  background-color: #aed3aa;
}

.services__button span {
  margin-left: 0.5rem;
}

.general__enquiry_btn {
  color: var(--enquiry-text-color);
  background-color: var(--enquiry-background-color);
}

.general__enquiry_btn:hover {
  background-color: #f7ec53;
}

.services__info {
  display: flex;
  gap: 2rem;
  margin: 0.3rem 0.3rem 0.3rem 8.7rem;
  width: 86%;
  padding: 3rem;
  justify-content: center;
  background-color: #add3aa;
}

.services__info__left {
  display: flex;
  flex-direction: column;
  flex-basis: 900px;
}

.services__info__left h3 {
  background-color: var(--primary-green);
  color: var(--primary-white);
  font-size: 20px;
  padding: 1rem 2rem;
  border-radius: 6px 6px 0px 0px;
  margin: 0;
}

.appointment_type {
  background-color: var(--level-indicator-color);
  color: var(--primary-green);
}

.appointment_type p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2rem;
  font-size: 18px;
  border-top: 2px solid var(--primary-white);
}

.services__info__form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0px 0px 6px 6px;
}

.services__info__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-green);
  background-color: var(--primary-white);
  padding: 13px 14px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.forward__arrow {
  animation: alternating infinite 0.8s alternate forwards;
}

@keyframes alternating {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(5px);
  }
}

.services__info__levels {
  display: flex;
  flex-direction: column;
  background-color: var(--level-indicator-color);
  padding: 2em;
  max-width: 35%;
  min-width: 298px;
}

.services__info__levels p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.services__info__levels p span:last-child {
  font-size: 1rem;
}

.position__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-border-color);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.8);
  color: var(--primary-white);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
}

.first_place,
dialog .second_place {
  background-color: var(--primary-green);
  color: var(--primary-white);
}

/*======================================= MEDIA QUERY =================================== */

@media (max-width: 1024px) {
  .services__info {
    flex-direction: column;
    margin: 2rem auto;
    padding: 1rem;
  }

  .services__info__left {
    margin: 0;
    flex-basis: 0;
  }

  .services__info__levels {
    padding: 1em;
    max-width: 35%;
    min-width: 240px;
  }

  .services__buttons__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    margin: 3rem 0 0 0;
  }

  .services__button {
    font-size: 20px;
  }
}
