nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 2rem;
  background-color: var(--primary-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav div {
  display: flex;
  border-right: 1px solid var(--header-border-color);
  border-left: 1px solid var(--header-border-color);
  border-collapse: collapse;
  border-bottom: 1px solid var(--header-border-color);
  padding: 1.4rem;
  background-color: var(--primary-white);
}

nav div:hover {
  background-color: var(--primary-green);
  transition: background-color 0.3s ease-in-out;
}

nav a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-green);
  text-decoration: none;
}

nav div:hover a {
  color: white;
  transition: color 0.3s ease-in-out;
}

.phone__icon {
  font-size: 1rem;
}

/* ========================================== MEDIA QUERY BEGINS =============================================== */

@media screen and (max-width: 1024px) {
  nav {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  nav div {
    border: none;
    padding: 1rem;
  }

  nav div:hover {
    background-color: transparent;
  }

  nav a {
    color: var(--primary-green);
  }

  nav div:hover a {
    color: var(--primary-green);
  }

  .phone__icon {
    font-size: 1.5rem;
  }
}
