.pre__travel__services__container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.pre__travel__services__container h1 {
  color: var(--primary-green);
  font-size: 2rem;
  font-weight: 700;
}
