@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
  text-decoration: none;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --Inter-font-family: 'Inter', system-ui, sans-serif;
  --primary-green: #285430;
  --primary-white: #fff;
  /* stylelint-disable-next-line */
  --header-border-color: rgba(40, 84, 48, 0.20);
  --card-background-color: #d9d9d9;
  --hover-button-color: #e0ede2;
  --enquiry-background-color: #f4ed93;
  --enquiry-text-color: #706800;
  --upper-footer-background-color: #364539;
  --level-indicator-color: #92ba92;

  line-height: 1.5;
  font-weight: 400;
  /* stylelint-disable */
  color-scheme: light dark;
  background-color: #fff;
  /* stylelint-enable */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.active {
  background-color: var(--primary-green);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
